* {
  margin: 0;
  padding: 0;
}

html {
  background: #0f0f0f;
  font-family: "Futura", "Nunito", "Roboto", Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #dfdfdf;
  background: radial-gradient(ellipse at bottom, #4f4f4f, #000000);
}

header {
  text-align: center;
}

header h2 {
  margin: 12px;
}

main {
  flex: 1 0 auto;
  padding: 12px 24px;
}

.d2b-tooltip {
  display: none;
}

footer {
  text-align: center;
}

footer h4 {
  margin: 12px;
}
